<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="../logs/nlog_internal.log">
	<extensions>
		<add assembly="AchieveTrack" />
	</extensions>
	
	<!-- NOTE: https://sabakunotabito.hatenablog.com/entry/2021/11/01/015133 -->
	<targets>
		<!-- ファイル -->
		<target name="logFile"
                xsi:type="File"
                encoding="UTF-8"
                writeBom="true"
                lineEnding="Default"
                layout="${longdate} ${level:uppercase=true:padding=-5} [${threadid}] ${logger} - ${environment-user} ${machinename} - ${message} ${exception:format=tostring}"
                fileName="../logs/${processname}.log"
                archiveFileName="../logs/backup/${processname}_{###}.log"
                archiveEvery="Day"
                archiveNumbering="Sequence"
                maxArchiveFiles="10" />

		<!-- Console -->
		<target name="console" xsi:type="ColoredConsole" layout="${longdate} ${level:uppercase=true:padding=-5} ${message}" />

		<!-- Viewer(Log2Console, etc...) -->
		<target name="tcpOutlet" xsi:type="NLogViewer" address="tcp4://localhost:4505"/>

		<!-- Syslog https://tewarid.github.io/2018/06/01/logging-to-syslog-using-nlog.html -->
		<target name="syslog"
				xsi:type="Network"
				onOverflow="Split"
				newLine="false"
				lineEnding="None"
				layout="${syslogpriority}${literal:text=1} ${shortdate}T${time}Z ${environment-user}@${machinename}[${local-ip}] ${processname} ${processid} ${literal:text=-} ${literal:text=-} ${environment-user}:${message}"
				maxMessageSize="65000"
				encoding="utf-8"
				connectionCacheSize="5"
				maxConnections="0"
				maxQueueSize="0"
				keepConnection="true"
				onConnectionOverflow="AllowNewConnnection"
				address="udp://qnap3:514"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="logFile" />
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="tcpOutlet" />
		<logger name="*" minlevel="Error" writeTo="syslog" />
	</rules>
</nlog>